---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Istiak Hassan Emon">
    <div class="flex justify-center items-center h-screen">
        <h1 class="font-extrabold text-white">Coming soon</h1>
    </div>
</Layout>
